[submodule "socket-ssh"]
	path = socket-ssh
	url = https://github.com/Zim95/socket-ssh.git
[submodule "cert-manager"]
	path = cert-manager
	url = https://github.com/Zim95/cert-manager.git
[submodule "container-maker-spec"]
	path = container-maker-spec
	url = https://github.com/Zim95/container-maker-spec.git
[submodule "postgres_ha"]
	path = postgres_ha
	url = https://github.com/Zim95/postgres_ha.git
[submodule "browseterm-db"]
	path = browseterm-db
	url = https://github.com/Zim95/browseterm-db.git
